/* .container__main{
  max-width: 1400px;
  margin: 0 auto;
} */

@font-face {
  font-family: "tildasans-reg";
  src: url("../fonts/TildaSans-Regular.woff ") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "tildasans-med";
  src: url("../fonts/TildaSans-Bold.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "tildasans-600";
  src: url("../fonts/TildaSans-Medium.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "tildasans-semibold";
  src: url("../fonts/TildaSans-Semibold.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "tildasans-thin";
  src: url("../fonts/TildaSans-Light.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.container {
  max-width: 1400px;
}

.home_section-tittle {
  padding-top: 8px;
  padding-bottom: 3px;
  font-size: 54px;
  line-height: 1.1;
  text-align: center;
  margin-top: 100px;
  font-family: "tildasans-semibold";
}

.home_section-subtittle {
  color: rgb(122, 122, 122);
  transition-delay: 0s;
  text-align: center;
  /* font-family: "tildasans-reg"; */
  line-height: 1.5;
  padding: 41px 0 0 0;
  font-size: 24px;
  font-family: "tildasans-thin";
}

.home_section-img {
  width: 900px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_section-img img {
  width: 827px;
  height: 423px;
  object-fit: cover;
}

.home_section-target {
  background-color: #f2f7fa;
  padding: 0px 0 100px 0;
  font-family: "tildasans-reg";
}

.greenBlock {
  position: absolute;
  top: 500px;
  z-index: -1;
  background-color: #f2f7fa;
  width: 100%;
  height: 390px;
}

.home_section-target-info {
  text-align: center;
}
.home_section-target-info h2 {
  padding: 20px 0 20px 0;
  font-size: 32px;
  font-family: "tildasans-semibold";
}
.home_section-target-info p {
  padding: 20px 0 20px 0;
  font-family: "tildasans-reg";
  color: #000000;
  font-size: 24px;
}
.target_line {
  display: flex;
  justify-content: center;
}
.target_line .target-line_span {
  content: "";
  background-color: rgb(0, 0, 0);
  width: 100px;
  height: 3px;
  margin: 20px 0;
}

.sertificate_container-logo {
  width: 65px;
  height: 65px;
}

.sertificate {
  display: flex;
  gap: 30px;
  align-items: center;
}

.sertificate__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "tildasans-reg";
}

.home_section-sertificate {
  background-color: #f2f7fa;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-around;
}

.sertificate_container {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.sertificate_container p {
  margin-top: 15px;
  color: #7a7a7a;
  font-size: 16px;
  font-family: "tildasans-reg";
}

.home_section-project-title {
  width: 100%;
  text-align: center;
  margin-bottom: 90px;
}
.home_section-project-title h2 {
  font-size: 42px;
  line-height: 1.23;
  font-family: "tildasans-reg";
  margin-bottom: 20px;
}

.home_section-project-title p {
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  font-family: "tildasans-thin";
}

.containerC {
  max-width: 1200px;
  margin: 0 auto;
}

.containerB {
  max-width: 1400px;
  margin: 0 35px;
}

.home_section-project {
  background-color: #e2dfdff7;
  padding-top: 130px;
  padding-bottom: 150px;
  margin-top: 100px;
  width: 100%;
}

.home_section-how-we-works {
  width: 100%;
  height: auto;
  background-color: white;
  padding-bottom: 15px;
}

.title__how-we-works {
  font-size: 42px;
  line-height: 1.23;
  font-family: "tildasans-semibold";
  width: 100%;
  text-align: center;
  margin-top: 105px;
  margin-bottom: 100px;
}

.how-we-works__items {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.stepsBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.stepsAboveBlock {
  display: flex;
  position: relative;
}

.steps__number {
  width: 34px;
  height: 34px;
  background-color: #222;
  border-radius: 100%;
  z-index: 1;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.steps__line {
  position: absolute;
  top: 17px;
  left: 20px;
  width: 298px;
  height: 2px;
  background-color: #e6e6e6;
}

.stepsContents {
  width: 260px;
  height: 140px;
  margin-top: 20px;
}

.stepsContentsTitle {
  font-size: 20px;
  line-height: 1.35;
  font-family: "tildasans-semibold";
  color: black;
}

.stepsContentsText {
  margin-top: 16px;
  font-family: "tildasans-thin";
  color: #7a7a7a;
  line-height: 1.55;
  font-size: 15px;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__item {
  background: white;
  height: 495px;
  width: 100%;
  max-width: 360px;
}

.cards__img {
  width: 360px;
  height: 252px;
  object-fit: cover;
}

.cards__typography {
  background-color: white;
  padding: 30px;
  /* width: 100%; */
  max-width: 360px;
  height: auto;
}

.cards__title {
  color: #222;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.35;
  font-family: "tildasans-semibold";
}

.cards__text {
  font-size: 14px;
  line-height: 1.55;
  color: black;
  font-family: "tildasans-thin";
  text-align: left;
}

.cards__img__special {
  width: 360px;
  height: 495px;
  object-fit: cover;
}

.blackBlock {
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.4)
  );
  padding-top: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 3px;
  left: 0;
}

.cards__item__special {
  position: relative;
}

.cards__typography__special {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  background-color: transparent !important;
}

.cards__title__special {
  color: white;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.35;
  font-family: "tildasans-semibold";
}

.cards__text__special {
  color: white;
  font-size: 14px;
  line-height: 1.55;
  font-family: "tildasans-thin";
}

.home_section-mobile_app {
  background-color: #f2f7fa;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.mobileApp__title {
  font-size: 42px;
  line-height: 1.23;
  margin-bottom: 40px;
  color: black;
  font-family: "tildasans-semibold";
  text-align: center;
  padding-top: 105px;
  width: 100%;
}
.mobileApp__text {
  font-size: 24px;
  line-height: 1.55;
  font-family: "tildasans-thin";
  color: #7a7a7a;
  text-align: center;
}

.mobileApp__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobileApp__img__details {
  width: 600px;
  height: 540px;
  object-fit: cover;
}

.info__items {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.svg__info {
  width: 20px;
  height: 20px;
}

.info__item__title_img {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 270px;
}

.info__item__title {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.35;
  color: #000000;
  font-family: "tildasans-semibold";
}
.info__item__text {
  font-size: 15px;
  line-height: 1.55;
  color: #7a7a7a;
  font-family: "tildasans-thin";
  width: 100%;
  max-width: 240px;
}

.home_section-carousel {
  width: 100%;
  height: auto;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 10px;
}

.intro__rate {
  margin-bottom: 100px;
}

.intro__rate h3 {
  font-size: 42px;
  line-height: 1.23;
  font-family: "tildasans-semibold";
  text-align: center;
}

.home_section-bigIMG {
  background: url("https://thumb.tildacdn.com/tild3239-3366-4635-b765-666138303432/-/format/webp/zaryadnaya-staniya.jpg");
  width: 100%;
  height: 602px;
  object-fit: cover;
  /* margin-bottom: 100px; */
  position: relative;
}

.greenBlock2 {
  height: 602px;
  background-image: -webkit-linear-gradient(
    top,
    rgba(41, 41, 41, 0.3),
    rgb(12, 92, 17)
  );
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.home_sectiom-bigIMG__items {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigIMG__title {
  font-size: 42px;
  color: white;
  line-height: 1.23;
  margin-bottom: 22px;
  font-family: "tildasans-semibold";
  text-align: center;
  padding-top: 160px;
}

.bigIMG__text {
  font-size: 22px;
  line-height: 1.55;
  opacity: 0.6;
  margin-top: 22px;
  color: white;
  font-family: "tildasans-thin";
  text-align: center;
}

.bigIMG__button {
  margin-top: 22px;
  cursor: pointer;
  color: white;
  background-color: #009975;
  border-radius: 10px;
  outline: none;
  width: 222px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-family: "tildasans-reg";
}

.home_section-form {
  background-color: #f2f7fa;
  padding-top: 90px;
  padding-bottom: 60px;
}

.form_block__title {
  text-align: center;
  font-size: 42px;
  line-height: 1.23;
  color: #000000;
  font-family: "tildasans-reg";
}

.form_block__description {
  padding-top: 40px;
  font-size: 22px;
  color: #7a7a7a;
  line-height: 1.45;
  font-family: "tildasans-thin";
  text-align: center;
}

.form_block__items {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  position: relative;
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.plus {
  position: absolute;
  z-index: 1;
  top: 52%;
  left: 74%;
  background-color: #009975;
  width: 23px;
  height: 23px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus ion-icon {
  color: white;
}

.acceptData {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 19px;
  background-color: #009975;
  width: 100%;
  max-width: 760px;
  height: auto;
  padding: 15px 0px 15px 0px;
  color: white;
}

.form_block__items > input {
  padding: 26px 20px 10px 20px;
  width: 100%;
  max-width: 760px;
  border: 2px solid #b6babd;
  color: #000000;
  font-size: 16px;
  display: block;
  font-family: "tildasans-semibold";
  background-color: initial;
}

.form_block__items > input:focus {
  outline: none;
}

/* .form_block__items > input::focus{
  position: absolute;
  top: 20px;
}

.form_block__items > input::placeholder{
  font-family: "tildasans-thin";
  color: #7a7a7a;
  font-size: 16px;
} */

.l1 {
  color: #999;
  position: absolute;
  top: 81px;
  font-size: 16px;
  left: 240px;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  font-family: "tildasans-thin";
}

.input:focus ~ .l1 {
  top: 68px;
  font-size: 13px;
  color: #999;
}

.hasContent ~ .l1 {
  position: absolute;
  top: 68px;
  font-size: 13px;
  color: #999;
  display: block;
  font-family: "tildasans-thin";
}

.form_block__items > button {
  background-color: #009975;
  color: white;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  padding-left: 60px;
  padding-right: 60px;
  height: 60px;
  font-family: "tildasans-semibold";
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}

.l2 {
  color: #999;
  position: absolute;
  top: 158px;
  font-size: 16px;
  left: 240px;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  font-family: "tildasans-thin";
}

.input2:focus ~ .l2 {
  top: 148px;
  font-size: 13px;
  color: #999;
}

.hasContent2 ~ .l2 {
  position: absolute;
  top: 148px;
  font-size: 13px;
  color: #999;
  display: block;
  font-family: "tildasans-thin";
}

.validEmail {
  width: 760px;
  background-color: #ff2638;
  color: white;
  font-size: 17px;
  padding: 15px 0px 15px 15px;
  font-family: "tildasans-semibold";
  text-align: left;
  display: block;
}

.l3 {
  color: #999;
  position: absolute;
  top: 237px;
  font-size: 16px;
  left: 240px;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  font-family: "tildasans-thin";
}

.input3:focus ~ .l3 {
  top: 228px;
  font-size: 13px;
  color: #999;
}

.hasContent3 ~ .l3 {
  position: absolute;
  top: 228px;
  font-size: 13px;
  color: #999;
  display: block;
  font-family: "tildasans-thin";
}

.l4 {
  color: #999;
  position: absolute;
  top: 315px;
  font-size: 16px;
  left: 240px;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  font-family: "tildasans-thin";
}

.input4:focus ~ .l4 {
  top: 305px;
  font-size: 13px;
  color: #999;
}

.hasContent4 ~ .l4 {
  position: absolute;
  top: 305px;
  font-size: 13px;
  color: #999;
  display: block;
  font-family: "tildasans-thin";
}

.form_block__items > p {
  text-align: center;
  line-height: 1.55;
  font-family: "tildasans-thin";
}

.form_block__items > p > span {
  font-family: "tildasans-thin";
  line-height: 1.55;
  text-align: center;
  text-decoration: underline;
}

.home_section-partners {
  padding-top: 105px;
  padding-bottom: 15px;
}

.parthers__title {
  text-align: center;
  font-family: "tildasans-semibold";
  font-size: 42px;
  margin-bottom: 40px;
  line-height: 1.23;
  color: #000000;
}

.parthers__text {
  text-align: center;
  font-family: "tildasans-thin";
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 105px;
}

.parthers__block {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parthers__right img {
  width: 560px;
  height: 448px;
  object-fit: cover;
}

.parthers__left {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.parthers__left span {
  font-size: 14px;
  letter-spacing: 2.5px;
  color: #000000;
}

.parthers__left h3 {
  font-size: 30px;
  line-height: 1.17;
  color: #000000;
  font-family: "tildasans-semibold";
  margin-bottom: 13px;
}

.parthers__left p {
  font-family: "tildasans-thin";
  line-height: 1.55;
  font-size: 18px;
  color: #000000;
  opacity: 0.85;
  width: 100%;
  max-width: 540px;
}

.home-section_footer {
  padding-top: 60px;
  /* padding-bottom: 100px; */
  background-color: #f2f7fa;
}

.footer__title {
  font-size: 42px;
  line-height: 1.23;
  font-family: "tildasans-semibold";
  text-align: center;
  margin-bottom: 40px;
}

.footer__text {
  font-size: 24px;
  line-height: 1.55;
  font-family: "tildasans-thin";
  margin-bottom: 90px;
  text-align: center;
}

.footer__items {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.navigation__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  line-height: 1.55;
}

.navigation__footer li {
  list-style-type: none;
  font-family: "tildasans-thin";
  font-size: 20px;
}

.navigation__footer li:first-child {
  font-family: "tildasans-semibold";
  font-size: 20px;
  margin-bottom: 10px;
}

.navigation__footer p {
  font-size: 20px;
  line-height: 1.55;
  opacity: 0.7;
  color: #000000;
  font-family: "tildasans-thin";
  width: 100%;
  max-width: 260px;
}

.footer__end {
  margin-top: 50px;
  background-color: #000000;
  color: white;
}

.footer__info__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px 40px 15px;
}

.footer__info__y {
  display: flex;
  flex-direction: column;
  font-family: "tildasans-thin";
}

.footer__info__y a {
  font-family: "tildasans-thin";
  text-decoration: underline;
  color: #fff;
}

.footer__info__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 144px;
}

ion-icon {
  font-size: 30px;
}

.notification {
  position: fixed;
  bottom: 50px;
  right: 65px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.notification label {
  background: #fff !important;
  animation: none;
  position: relative;
  cursor: pointer;
  z-index: 2;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background: #0088cc;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.notification label ion-icon {
  transition: all 0.3s ease-in-out;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: rgb(27, 168, 46);
}

.close {
  transition: all 0.3s ease-in-out;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: rgb(0, 0, 0);
  width: 28px;
  height: 28px;
  object-fit: cover;
}

.chat {
  transition: all 0.3s ease-in-out;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* color: rgb(27, 168, 46); */
  width: 28px;
  height: 28px;
  object-fit: cover;
}

.animated {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.whatsapp {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30%;
  background-color: rgb(27, 168, 46);
}

.call {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: rgb(0, 77, 115);
  display: flex;
  justify-content: center;
  align-items: center;
}

.communication ion-icon {
  color: white;
}

.communication {
  width: 50px;
  height: 150px;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}
/* a:hover {
  transform: translateY(-10px);
} */
.footer__info__social a:hover {
  transform: translateY(-10px);
}

@media screen and (max-width: 950px) {
  .home_section-tittle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home_section-subtittle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home_section-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 317px;
  }
  .home_section-sertificate {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }
  .stepsBlock {
    display: flex;
    flex-wrap: wrap;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  .mobileApp__items {
    display: flex;
    flex-wrap: wrap;
  }
  .stepsAboveBlock {
    display: flex;
  }
}

.slider3 {
  display: none;
}

@media screen and (max-width: 420px) {
  header {
    width: 100%;
    min-height: 64px;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
  }
  .header_left ul {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-top: 1px solid white;
    align-items: center;
    position: absolute;
    top: 100px;
    margin-right: 150px;
    /* justify-content: space-between; */
  }
  .header_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
  }
  .header_right {
    border-top: 1px solid white;
    position: absolute;
    top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
    justify-content: center;
    width: 70%;
  }
  .header_right a {
    margin: 3px;
  }
  /* .header_left,
  .header_right {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid white;
    position: absolute;
    top: 120px;
    opacity: 1;
  } */

  .header_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header_logo a {
    color: #fff;
    font-size: 16px;
    line-height: 1.35;
    font-family: "tildasans-semibold";
    display: flex;
  }
  .burger {
    display: block !important;
    padding-right: 5px;
  }
  .burger ion-icon {
    color: white;
    font-size: 40px;
  }

  .home_section {
    /* padding-bottom: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home_section-img img {
    width: 300px;
    height: 153px;
    object-fit: contain;
  }
  .home_section-tittle {
    max-width: 350px;
    font-size: 54px;
  }
  .home_section-subtittle {
    font-size: 20px;
    max-width: 350px;
  }
  .greenBlock {
    position: absolute;
    top: 620px;
  }
  .footer__items {
    display: flex;
    flex-wrap: wrap;
    /* row-gap: 30px; */
    flex-direction: column;
  }
  .navigation__footer {
    margin: 0px 25px 85px 25px;
  }
  .navigation__footer li {
    font-size: 16px;
  }
  .footer__info__y {
    font-size: 12px;
  }
  .parthers__block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    /* margin-left: 15px; */
  }
  .parthers__right img {
    width: 350px;
    height: 280px;
    object-fit: contain;
  }
  .parthers__right span {
    font-size: 10px;
  }
  .home_section-target-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home_section-target-info h1 {
    font-family: "tildasans-semibold";
    margin-bottom: 25px;
  }
  .home_section-target-info p {
    font-family: "tildasans-thin";
    text-align: center;
    font-size: 24px;
    max-width: 350px;
  }
  .sertificate_container-image img {
    width: 350px;
    height: 186px;
    object-fit: cover;
  }
  .sertificate_container-image {
    margin-bottom: 75px;
  }
  .title__how-we-works {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .stepsBlock__items {
    display: flex;
    justify-content: space-between;
  }
  .steps__line {
    position: absolute;
    top: 17px;
    left: 35px;
    width: 2px;
    height: 158px;
    background-color: #e6e6e6;
  }
  .stepsAboveBlock {
    padding-left: 20px;
  }
  .stepsContents {
    margin-top: 0;
    padding-left: 22px;
  }
  .stepsContentsTitle {
    font-size: 16px;
    display: block;
    width: 291px;
  }
  .stepsContentsText {
    font-size: 12px;
    margin-top: 8px;
    width: 291px;
  }
  .home_section-project {
    padding-top: 90px;
    margin-top: 0px;
    padding-bottom: 90px;
    background-color: #ededed;
  }
  .home_section-project-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
  }
  .home_section-project-title h2 {
    font-size: 30px;
    font-family: "tildasans-semibold";
  }
  .home_section-project-title p {
    font-size: 20px;
    width: 350px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .cards__title {
    font-size: 20px;
    width: 290px;
  }
  .cards__text {
    font-size: 12px;
    width: 290px;
    line-height: 1.55;
  }
  .home_section-mobile_app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mobileApp__title {
    font-size: 30px;
    width: 350px;
  }
  .mobileApp__text {
    font-size: 20px;
    padding-bottom: 75px;
  }
  .mobileApp__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
  }
  .info__items {
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: flex-start;
  }
  .info__item__title_img {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
  }
  .info__item__title {
    font-size: 18px;
    padding-left: 20px;
  }
  .info__item__text {
    text-align: left !important;
    font-size: 12px;
    max-width: 303px;
    margin-left: 40px;
  }
  .info__item {
    margin-left: 20px;
  }
  .mobileApp__img img {
    padding: 0px 30px 0px 60px;
    width: 300px;
    height: 255px;
  }
  .carousel__content p {
    margin-left: 0 !important;
  }
  .names {
    margin-left: 0 !important;
  }
  .info__electro {
    margin-left: 0 !important;
  }
  .bigIMG__title {
    padding-top: 110px;
  }
  .form_block__items > input {
    width: 310px;
  }
  .form_block__items > label {
    left: 40px;
  }
  .slider3 {
    display: block;
    margin-bottom: 90px;
  }
  .slider2 {
    display: none;
  }
  .parthers__text {
    margin-bottom: 70px;
  }
  .parthers__left span {
    font-size: 10px;
  }
  .parthers__left h3 {
    font-size: 24px;
    width: 330px;
  }
  .parthers__left p {
    font-size: 14px;
    width: 330px;
    line-height: 1.45;
  }
  .parthers__left {
    margin-left: 20px;
  }
  .notification {
    position: fixed;
    margin: auto;
    /* top: 0; */
    right: 0;
    bottom: 20px;
    left: 280px;
  }
}

@media screen and (min-device-width: 678px) and (max-device-width: 850px) {
  header {
    width: 100%;
    min-height: 64px;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
  }
  .header_left {
    display: none;
  }
  .header_right {
    display: none;
  }
  .header_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header_logo a {
    color: #fff;
    font-size: 16px;
    line-height: 1.35;
    font-family: "tildasans-semibold";
  }
  .burger {
    display: block !important;
    padding-right: 5px;
  }
  .burger ion-icon {
    color: white;
    font-size: 40px;
  }
  .home_section {
    /* padding-bottom: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .home_section-img img {
    width: 620px;
    height: 317px;
    object-fit: contain;
  }
  .home_section-sertificate {
    row-gap: 35px;
  }
  .how-we-works__items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
  }
  .stepsBlock__items {
    display: flex;
    justify-content: space-between;
  }
  .steps__line {
    position: absolute;
    top: 17px;
    left: 35px;
    width: 2px;
    height: 158px;
    background-color: #e6e6e6;
  }
  .stepsAboveBlock {
    padding-left: 20px;
  }
  .stepsContents {
    margin-top: 0;
    padding-left: 22px;
  }
  .stepsContentsTitle {
    font-size: 16px;
    display: block;
    width: 291px;
  }
  .stepsContentsText {
    font-size: 12px;
    margin-top: 8px;
    width: 291px;
  }
  .stepsBlock {
    flex-direction: column;
    align-items: flex-start;
  }
  .stepsContents {
    width: 640px;
  }
  .stepsContentsTitle {
    font-size: 18px;
    width: 100%;
  }
  .stepsContentsText {
    font-size: 14px;
    width: 540px;
  }
  .cards {
    flex-direction: column;
    row-gap: 30px;
  }
  .home_section-mobile_app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mobileApp__title {
    font-size: 38px;
    width: 600px;
  }
  .mobileApp__text {
    font-size: 20px;
    padding-bottom: 75px;
  }
  .mobileApp__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 640px;
  }
  .mobileApp__items {
    flex-direction: column;
  }
  .containerC {
    max-width: 640px;
    margin: 0 auto;
  }
  .info__items {
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 640px;
    align-items: flex-start;
  }
  .info__item__title_img {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
  }
  .info__item__title {
    font-size: 20px;
    padding-left: 20px;
  }
  .info__item__text {
    text-align: left !important;
    font-size: 14px;
    max-width: 640px;
    margin-left: 40px;
  }
  .info__item {
    margin-left: 20px;
  }
  .mobileApp__img img {
    padding: 0px 30px 0px 60px;
    width: 540px;
    height: 480px;
  }
  .l1,
  .l2,
  .l3,
  .l4 {
    left: 20px;
  }
  .parthers__right img {
    width: 280px;
    height: 224px;
  }
  .footer__items {
    flex-direction: column;
    row-gap: 75px;
  }
}
