.container__location {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.location-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.location-paragraph {
  margin-top: 10px;
  font-size: 24px;
  line-height: 1.55;
  font-family: "tildasans-thin";
  color: #000;
  margin-bottom: 25px;
}
.location-title {
  font-size: 42px;
  line-height: 1.23;
  color: #000;
  font-family: "tildasans-semibold";
}

.goBack ion-icon {
  font-size: 50px !important;
  margin-top: 20px;
}

/* react leafleat */
.leaflet-container {
  height: 500px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}

/* react leafleat */

@media screen and (min-device-width: 678px) and (max-device-width: 850px) {
  .location-container {
    margin-top: 10px;
  }
}

.leaflet-bottom,
.leaflet-right {
  display: none;
}

.input__location {
  background-color: white;
  border: 3px solid black;
  width: 300px;
  height: 50px;
  padding: 10px;
  color: black;
  border-radius: 16px;
}

.location__inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.location__inputs div {
  font-family: "tildasans-semibold";
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.input__location:focus {
  color: black;
  transition: 0.1s;
  transition-property: box-shadow;
}

.btn-location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 16px;
  border: none;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-top: 15px;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 12px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn-location:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn-location:hover {
  transform: scale(1.1);
}

.btn-location:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn-location:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
