@font-face {
  font-family: "tildasans-reg";
  src: url("../fonts/TildaSans-Regular.woff ") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "tildasans-med";
  src: url("../fonts/TildaSans-Bold.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "tildasans-600";
  src: url("../fonts/TildaSans-Medium.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "tildasans-semibold";
  src: url("../fonts/TildaSans-Semibold.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "tildasans-thin";
  src: url("../fonts/TildaSans-Light.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: "tildasans-med";
}

.header_left{
  margin-left: 15px;
}

.header_left ul {
  display: flex;
}

.header_left ul li {
  list-style: none;
  display: flex;
  padding-right: 5px;
}
.header_left-item a {
  font-size: 16px;
  text-decoration: none;
  margin-left: 25px;
  font-family: "tildasans-semibold";
  color: black;
  clear: both;
  white-space: nowrap;
}
header {
    backdrop-filter: blur(7px);
    background-color: rgba(234, 237, 240, 0.8);
    /* background-color: rgba(255,255,255,0.70); */
    border-bottom: 1px solid rgb(223, 227, 231);
    height: 70px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.0);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.header_logo a {
  color: rgb(0, 143, 29);
  font-weight: bold;
  font-size: 36px;
  text-decoration: none;
}

.header_logo{
  margin-left: 10px;
}

.header_right{
  text-align: right;
  margin-right: 15px;
  display: flex;
  align-items: center;
  color: black;
  padding-right: 25px;
}

.header_right a {
  font-weight: 400;
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-right: 30px;
  font-family: "tildasans-reg";
}
.header_right-button {
  background-color: rgb(0, 143, 29);
  color: #ffffff;
  background-color: #009975;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 40px;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 10px;
  border: none;
}
