.containerQWE {
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
.linkq {
  transition: 0.7s ease;
  color: black;
}
.linkq:hover {
  color: red;
}
