@font-face {
  font-family: "tildasans-reg";
  src: url("../fonts/TildaSans-Regular.woff ") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "tildasans-med";
  src: url("../fonts/TildaSans-Bold.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "tildasans-semibold";
  src: url("../fonts/TildaSans-Semibold.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "tildasans-thin";
  src: url("../fonts/TildaSans-Light.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
}

.paragraph {
  font-family: "tildasans-thin";
  font-weight: 300;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 900px;
  padding: 0;
}
.items {
  font-family: "tildasans-thin";
  font-weight: 300;
  font-size: x-large;
  font-family: "tildasans-thin";
  font-weight: 300;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 900px;
  padding: 0;
}
.politika {
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
